body
{
    background-color:#eae2b7;
    background:url("https://flim-1-0-2.s3.eu-central-1.amazonaws.com/full/9059f056042411ebb38910ddb1aba44f.png") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;

}
th
{
    color:#ede0d4;
    text-align:center;
    font-size: 15px;
    height:30px;
    background-color: #9c6644;

}
td
{
    font-family:"Times New Roman";
    font-size:10px;
    height:30px;
    text-align:left;
    color:#003049;
    font-weight:bold;
    padding:10px 10px;
    border-radius: 10px;
}

content{
    padding: 30px 0px; 
}
table 
{
    border: 1px dotted black
}
td:nth-child(even)
 {background: #ddb892}

td:nth-child(odd) 
{background: #b08968}

h2
{
    text-align: center;
}

p{
    text-align: center;
    
}

